<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Bilibili短链生成器</title>
  <meta name="keywords" content="哔哩哔哩, bilibili, 短链生成">
  <meta name="description" content="生成b23.tv格式的短链">
  <link href="https://cdn.bootcss.com" rel="dns-prefetch">
  <link href="https://cdn.jsdelivr.net" rel="dns-prefetch">
  <link href="https://fonts.googleapis.com" rel="dns-prefetch">
  <link href="https://fonts.gstatic.com" rel="dns-prefetch">
  <script async src="https://hm.baidu.com/hm.js?308d8313ec16f721670ef77465d6aff6"></script>
  <meta name="baidu-site-verification" content="Qqye5KEMN9">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/papercss@1.8.2/dist/paper.min.css">
  <link rel="stylesheet" href="./index.css?v=517">
  <link rel="stylesheet" href="./loading.css">
<!--  <script src="https://unpkg.com/petite-vue" defer init></script>-->
<!--  <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>-->
  <link href="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.10.0/toastify.min.css" rel="stylesheet">
  <script async src="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.10.0/toastify.min.js"></script>
  <script async src="./modern-copy.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?52e5fee624f90ccf317fd39c74b2eadc";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body>
<div id="app">
  <h4 class="title">哔哩哔哩短链生成器</h4>

  <div class="form">
    <div class="origin-url-input">
      <input id="origin_url" type="url" name="origin_url" v-model="inputUrl" @input="inputUrlChange"
             placeholder="https://www.bilibili.com/video/BV1Wv41157Wz">
      <svg class="close-icon" v-show="closeIconVisible" @click="clearInput" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
    </div>

    <div class="submit-btn" id="submit" @click="handleSubmit">生成短链</div>
    <div class="submit-btn" id="submit10" @click="handleBatchSubmit">直接来十个</div>
    <div class="short-url">
      <div class="short-url-title">短链接</div>
      <div v-show="!hasValue" class="short-url-item bg-gray"></div>
      <div v-show="hasValue">
        <div v-for="item in list" :key="item" class="short-url-item">
          <a id="short-url-value" rel="noreferrer" :href="item.url" target="_blank">
            <div class="short-url-value">{{item.url}}</div>
            <svg class="outbound-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
              <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
              <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
            </svg>
          </a>
          <div class="copy" @click="copy(item.url)">
            复制
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      有BUG可以联系微信: lv1017866168
    </div>
  </div>
  <div class="loading" v-show="loadingVisible">
    <div class="mask"></div>
    <div class="pacman"><div></div><div></div><div></div><div></div><div></div></div>
  </div>

</div>

<script type="module">
  import { createApp } from 'https://cdn.jsdelivr.net/npm/petite-vue@0.2.3/dist/petite-vue.es.js'
  createApp({
    // exposed to all expressions
    inputUrl: '',
    closeIconVisible: false,
    //dev 'http://localhost:5000/short_url?url='
    defaultValue: 'https://www.bilibili.com/video/BV1Wv41157Wz',
    baseUrl: 'https://service-ijd4slqi-1253419200.gz.apigw.tencentcs.com/release/bsu?url=',
    loadingVisible: false,
    limit: 10,
    list: [],
    // getters
    get hasValue() {
      return this.list.length > 0
    },
    // methods
    inputUrlChange(evt){
      const value = evt.target.value
      this.toggleCloseIcon(value)
    },
    // 清空输入框
    clearInput(){
      this.inputUrl = ''
      this.closeIconVisible = false;
    },
    // 控制输入框的关闭图标显示与隐藏的方法
    toggleCloseIcon(value) {
      this.closeIconVisible = !!value;
    },
    // 控制loading状态显示与隐藏的方法
    toggleLoading(show) {
      this.loadingVisible = !!show;
    },
    copy(url){
      mcopy(url)
      Toastify({
        text: "链接复制成功",
        position: "center",
        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
        duration: 2000
      }).showToast();
    },
    handleSubmit() {
      this.toggleLoading(true)
      let value = this.inputUrl? this.inputUrl : this.defaultValue
      const url = this.baseUrl + encodeURIComponent(value)
      fetch(url).then(res => res.json()).then(res => {
        this.handleResults(res, true)
      }).finally(() => {
        this.toggleLoading(false)
      })
    },
    handleBatchSubmit() {
      this.toggleLoading(true)
      let value = this.inputUrl? this.inputUrl : this.defaultValue
      const url = this.baseUrl + encodeURIComponent(value)
      for (let i = 0; i < this.limit; i++) {
        fetch(url).then(res => res.json()).then(res => {
          this.handleResults(res, false)
        }).finally(() => {
          this.toggleLoading(false)
        })
      }
    },
    handleResults(res, autoCopy = true) {
      if (res.success) {
        this.list.push({ url: res.short_url })
        if (autoCopy) {
          this.copy(res.short_url)
        }
      } else {
        Toastify({
          text: res.msg,
          position: "center",
          backgroundColor: "linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)",
          duration: 2000
        }).showToast();
      }
    }

  }).mount()
</script>

</body>
</html>
