<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Bilibili短链生成器</title>
  <meta name="keywords" content="b23.tv,b23tv,哔哩哔哩,哔哩哔哩短链,短链接, bilibili, 短链生成,b站短链,b站怎么生产那个btv23短链接？">
  <meta name="description" content="生成b23.tv格式的短链，b站怎么生产那个btv23短链接">
  <link href="https://cdn.bootcss.com" rel="dns-prefetch">
  <link href="https://cdn.jsdelivr.net" rel="dns-prefetch">
  <link href="https://fonts.googleapis.com" rel="dns-prefetch">
  <link href="https://fonts.gstatic.com" rel="dns-prefetch">
  <script async src="https://hm.baidu.com/hm.js?308d8313ec16f721670ef77465d6aff6"></script>
  <meta name="baidu-site-verification" content="Qqye5KEMN9">
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/xlzy520/bili-short-url/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/papercss@1.8.2/dist/paper.min.css">
  <link rel="stylesheet" href="./index.css?v=517">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/xlzy520/bili-short-url/loading.css">
<!--  <script src="https://unpkg.com/petite-vue" defer init></script>-->
<!--  <script src="https://cdn.bootcdn.net/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>-->
  <link href="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.10.0/toastify.min.css" rel="stylesheet">
  <script async src="https://cdn.bootcdn.net/ajax/libs/toastify-js/1.10.0/toastify.min.js"></script>
  <script async src="https://cdn.jsdelivr.net/gh/xlzy520/bili-short-url/modern-copy.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?52e5fee624f90ccf317fd39c74b2eadc";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body>
<div id="app">
  <h4 class="title">哔哩哔哩短链生成器</h4>

  <div class="follow">
<!--    <div class="">不知道为啥，我自己做的介绍视频反而被举报下家</div>-->
    <a href="https://space.bilibili.com/7560113" class="link">好用的话，还请关注我B站</a>
  </div>

  <div class="form">
    <div class="origin-url-input">
      <input id="origin_url" type="url" name="origin_url" v-model="inputUrl" @input="inputUrlChange"
             placeholder="https://www.bilibili.com/video/BV1Wv41157Wz">
      <svg class="close-icon" v-show="closeIconVisible" @click="clearInput" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify--mdi" width="32" height="32" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41z" fill="currentColor"></path></svg>
    </div>
    <div class="tips">仅支持B站站内链接，不支持B站站外链接</div>

    <div class="submit-btn" id="submit" @click="handleSubmit">生成短链</div>
<!--    <iframe class="submit-btn" src="//player.bilibili.com/player.html?aid=295402185&bvid=BV1EF411q7GQ&cid=478508728&page=1" scrolling="no" border="0" frameborder="no" framespacing="0" allowfullscreen="true"> </iframe>-->
    <div class="short-url">
      <div class="short-url-title">短链接</div>
      <div v-show="!hasValue" class="short-url-item bg-gray"></div>
      <div v-show="hasValue">
        <div v-for="item in list" :key="item" class="short-url-item">
          <a id="short-url-value" rel="noreferrer" :href="item.url" target="_blank">
            <div class="short-url-value">{{item.url}}</div>
            <svg class="outbound-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
              <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
              <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
            </svg>
          </a>
          <div class="copy" @click="copy(item.url)">
            复制
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="buy-me-coffee">
    <div class="buy-me-coffee-header">
      <div class="short-url-title">觉得好用，赞赏</div>
      <div class="wx-tips">
        有问题可以联系微信: <span class="vx" @click="copy('lv1017866168')">lv1017866168（点击复制）</span>
      </div>
    </div>
<!--    <div class="" @click="downloadImg">-->
<!--      <img class="" src="https://cdn.jsdelivr.net/gh/xlzy520/bili-short-url/wx.jpeg"/>-->
<!--      <div class="img-tips">点击保存</div>-->
<!--    </div>-->

  </div>
  <div class="footer">
  </div>
  <div class="loading" v-show="loadingVisible">
    <div class="mask"></div>
    <div class="pacman"><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <a download="wx.jpeg" href="./wx.jpeg" class="hidden" id="download"></a>
  <div class="dialog" v-if="recommendVisible">
    <div class="dialog-overlay" @click="overlayClick"></div>
    <div class="dialog-content">
      <div class="dialog-main">
        <div class="recommend">【图片短链】<b>强烈推荐</b>使用我的<a href="https://github.com/xlzy520/bilibili-img-uploader" target="_blank">另一个项目
          <svg class="outbound-icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" x="0px" y="0px" viewBox="0 0 100 100" width="15" height="15" class="icon outbound">
          <path fill="currentColor" d="M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z"></path>
          <polygon fill="currentColor" points="45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9"></polygon>
        </svg>
        </a>，可以直接上传图片生成短链(不能上GitHub请<a target="_blank" href="https://gitee.com/xlzy520/bilibili-img-uploader">点这里</a>)
          <div class="recommend-btn" @click="noRecommend">不再提示</div>
        </div>
        <img height="400" src="https://lc.xlzy520.cn/srgIr7G5kzrTBfpUPYUSbYEBRbQHN7hb/a841a115dff5f4141c2d44650ea44c2ac259ab64.png" alt="">

      </div>
    </div>
  </div>

</div>

<script type="module">
  // const baseUrl = 'http://localhost:5000/'
  const baseUrl = 'https://service-ijd4slqi-1253419200.gz.apigw.tencentcs.com/release/'
  import { createApp } from 'https://cdn.jsdelivr.net/npm/petite-vue@0.2.3/dist/petite-vue.es.js'

  const recommendVisible = !localStorage.getItem('noRecommend')
  // let hasClick = false

  // setInterval(() => {
  //   if (document.activeElement !== document.body) {
  //     if (!hasClick) {
  //       document.querySelector('#submit').click()
  //       hasClick = true
  //     }
  //     const iframe = document.querySelector('iframe')
  //     if (iframe) {
  //       if (iframe.classList.contains('v-hidden')) {
  //
  //       } else {
  //         iframe.classList.add('v-hidden')
  //       }
  //     }
  //   }
  // }, 500)

  createApp({
    // exposed to all expressions
    inputUrl: '',
    closeIconVisible: false,
    recommendVisible,
    defaultValue: 'https://www.bilibili.com/video/BV1Wv41157Wz',
    baseUrl: baseUrl + 'short_url?url=',
    loadingVisible: false,
    limit: 1,
    list: [],
    // getters
    get hasValue() {
      return this.list.length > 0
    },
    // methods
    noRecommend(){
      this.recommendVisible = false
      localStorage.setItem('noRecommend', 'true')
    },
    inputUrlChange(evt){
      const value = evt.target.value
      this.toggleCloseIcon(value)
    },
    // 清空输入框
    clearInput(){
      this.inputUrl = ''
      this.closeIconVisible = false;
    },
    // 控制输入框的关闭图标显示与隐藏的方法
    toggleCloseIcon(value) {
      this.closeIconVisible = !!value;
    },
    // 控制loading状态显示与隐藏的方法
    toggleLoading(show) {
      this.loadingVisible = !!show;
    },
    copy(url){
      mcopy(url)
      Toastify({
        text: "复制成功",
        position: "center",
        backgroundColor: "linear-gradient(to right, #00b09b, #96c93d)",
        duration: 2000
      }).showToast();
    },
    downloadImg(){
      const isMobile = navigator.userAgent.includes('Mobile')
      const link = document.querySelector('#download')
      const originUrl = 'https://cdn.jsdelivr.net/gh/xlzy520/bili-short-url/wx.jpeg'
      if (isMobile) {
        link.href = originUrl
        link.click()
        return
      }
      fetch(originUrl).then(res=> res.blob()).then(res=> {
        const url = URL.createObjectURL(res)
        link.href = url
        link.click()
      })
    },
    handleSubmit() {
      this.toggleLoading(true)
      let value = this.inputUrl? this.inputUrl : this.defaultValue
      const url = this.baseUrl + encodeURIComponent(value)+'&href='+location.href
      fetch(url).then(res => res.json()).then(res => {
        this.handleResults(res, true)
      }).finally(() => {
        this.toggleLoading(false)
      })
    },
    handleResults(res, autoCopy = true) {
      if (res.success) {
        this.list.push({ url: res.short_url })
        if (autoCopy) {
          this.copy(res.short_url)
        }
      } else {
        Toastify({
          text: res.msg,
          position: "center",
          backgroundColor: "linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%)",
          duration: 2000
        }).showToast();
      }
    },
    overlayClick(evt){
      this.recommendVisible = false
    },
    clickFrame(){
      console.log(222);
    }

  }).mount()
</script>

</body>
</html>
